/*Limpar formatações padrão*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff;
}

h2{
	color: black;
}

/**Layout**/



#area-logo{
	width: 160px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;
	float: left;
	padding: 10px;
	padding-left: 200px; 


}

#area-busca{
	padding: 50px;

}

/*input{

    width: 50%; /*Largura do campo*/
   /* height: 40px; /*Altura do campo*/
    /*float: ; /*Posição do campo*/
   /* background-color: #fff; /*Cor do fundo do campo*/
    /*border: 2px solid #97BF04; /*Cor da borda do campo*/
	/*border-radius: 5px; /*Curvatura da borda nas "quinas"*/
	/*text-indent: 25px; /*Um espaçamento para n atrapalhar a img*/
	/*font-size: 15px;

}*/



#area-principal{
	background: white;
	width: 100%;
	margin: 0 auto; /**CENTRALIZAR**/
	padding-top: 110px;


}

#area-principal2{
	background: white;
	width: 100%;
	margin: 0 auto; /**CENTRALIZAR**/
	padding-top: 80px;
	


}
#area-principal4{
	background: white;
	margin: 0 auto; /**CENTRALIZAR**/
	padding-top: 120px;
	
	

	


}
#area-principal3{
	background: white;
	width: 100%;
	margin: 0 auto; /**CENTRALIZAR**/
	padding-top: 130px;
	
	


}

#area-postagens{
	width: 660px;
	float: left;

}

.postagem{
	width: 100%;
	background: white;

}

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #467302;
	color: #fff; 
}

/**FORMATAÇÃO DO MENU**/
a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	
}
#area-menu a:link, #area-menu a:visited{ /** A FORMATAÇÃO DE LINK SÓ ENTRARÁ NOS LINKS QUE ESTÃO NA AREA DE CABEÇALHO**/
	color: #FFF;
	padding: 8px 12px;
	border-radius: 5px;
}

#area-menu a:hover{
	color: #467302;
	background: #97BF04;
	text-decoration: none;
	
}

#area-cabecalho a:hover{
	color: #fff;
	background: #97BF04;
	text-decoration: none;
	
}







